# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
.vscode/

# misc
.DS_Store
*.pem

# local env files
.env.*.local

.cache
conf/
!conf/nginx
data/
logs/
www/
media/
